.scroll-top-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;

  width: 4.5rem;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateY(2rem);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;

  z-index: 9999;
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 1);
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateY(0);
}

.scroll-top-btn:hover {
  transform: translateY(-3px);
}

.scroll-top-btn:active {
  transform: scale(0.95);
}