/* Typography */

.text-xs {
  font-size: var(--fs-xs);
}

.text-sm {
  font-size: var(--fs-sm);
}

.text-md {
  font-size: var(--fs-md);
}

.text-lg {
  font-size: var(--fs-lg);
}

.text-xl {
  font-size: var(--fs-xl);
}

.text-2xl {
  font-size: var(--fs-2xl);
}

.text-3xl {
  font-size: var(--fs-3xl);
}

.text-4xl {
  font-size: var(--fs-4xl);
}

.text-5xl {
  font-size: var(--fs-5xl);
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

/* Colors */

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-muted {
  color: var(--color-text-muted);
}

/* Layout */

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.text-center {
  text-align: center;
}