.features-section {
  padding: 2rem;
  margin: auto;
  margin-top: 5rem;
}

.section-tag {
  text-align: center;
  color: #7c3aed;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  font-family: var(--font-primary);
}

.features-section h2 {
  text-align: center;
  font-size: 2.3rem;
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.section-desc {
  text-align: center;
  color: #6b7280;
  max-width: 700px;
  margin: auto;
  margin-bottom: 2rem;
  font-family: var(--font-primary);
}

/* FEATURES */

.features-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.feature-cards {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  padding: 1.5rem;
  transition: 0.3s;
  box-shadow: 0 1rem 3rem rgba(100, 100, 255, 0.08);
  cursor: pointer;
  transition: var(--transition);
  position: relative;
  z-index: 1;
}

.feature-cards:hover {
  background: white;
  border: 1px solid var(--gray-100);
  scale: 1.05;
  z-index: 1000;
}

.feature-cards:hover .info-icon {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.feature-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.feature-cards h3 {
  font-size: 1.1rem;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.feature-cards p {
  color: var(--color-primary);
  line-height: 1.4;
  font-size: 0.9rem;
  font-family: var(--font-primary);
}

.info-icon {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;

  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: var(--text-secondary);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-8px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.feature-cards:has(.info-icon:hover) .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip {
  position: absolute;
  top: 95%;
  right: 0;

  padding: 0.5rem 0.75rem;

  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.5rem;
  font-family: var(--font-primary);

  font-size: 0.8125rem;
  line-height: 1.4;
  text-align: left;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-0.25rem);

  transition: all 0.2s ease;
  z-index: 1001;
  font-size: .8rem;
  white-space: pre-line;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -0.35rem;
  right: 1.5rem;

  width: 0.75rem;
  height: 0.75rem;

  background: var(--color-primary);
  transform: rotate(45deg);
}

.info-icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* TABLET */

@media (max-width: 1200px) {
  .features-grid {
    padding: 0 2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .feature-cards {
    transition: none !important;
  }

  .feature-cards:hover {
    scale: unset;
  }
}

/* MOBILE */

@media (max-width: 768px) {

  .features-section,
  .steps-section {
    padding: 1rem;
  }

  .features-grid {
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .steps-wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .step-arrow {
    transform: rotate(90deg);
  }

  .step {
    max-width: 100%;
  }

  .features-section h2,
  .steps-section h2 {
    font-size: 1.8rem;
  }

  .feature-cards {
    transition: none !important;
  }

  .feature-cards:hover {
    scale: unset;
  }
}

@media (max-width: 576px) {
  .features-section {
    padding: 2rem 1rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
    padding: 0rem;
  }

  .feature-cards {
    padding: 1.25rem;
  }

  .step {
    flex-direction: column;
    text-align: center;
  }

  .feature-cards {
    transition: none !important;
  }

  .feature-cards:hover {
    scale: unset;
  }

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 13px;
    font-size: 2rem;
  }
}